.search-btn {
    background-color: #06357a;
    border-color: #06357a;
}

.reset-btn {
    background-color: #2c3034;
    border-color: #2c3034;
}

.flag_icon {
    height: 30px;
    padding: 0 10px;
}

#birthdate {
    background-color: #fff;
    opacity: 1;
}

.max_width {
    max-width: 200px; !important;
    overflow: hidden;
}