{{template "base" .}}

{{define "content"}}
    {{$customer := index .Data "customer"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="mt-5">Customer #{{$customer.Uuid}}</h3>
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td class="col-4">First Name:</td>
                            <td>{{$customer.FirstName}}</td>
                        </tr>
                        <tr>
                            <td class="col-4">Last Name:</td>
                            <td>{{$customer.LastName}}</td>
                        </tr>
                        <tr>
                            <td class="col-4">Birthdate:</td>
                            <td>{{formatDate $customer.Birthdate}}</td>
                        </tr>
                        <tr>
                            <td class="col-4">Email:</td>
                            <td>{{$customer.Email}}</td>
                        </tr>
                        <tr>
                            <td class="col-4">Gender:</td>
                            <td>{{$customer.Gender}}</td>
                        </tr>
                        <tr>
                            <td class="col-4"><a href="/customer/{{$customer.Uuid}}" class="btn btn-warning">Edit the customer</a></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}