{{template "base" .}}

{{define "content"}}
    {{$maxNameLen := index .Data "maxNameLen"}}
    {{$customer := index .Data "customer"}}
    {{$genderMale := index .Data "genderMale"}}
    {{$genderFemale := index .Data "genderFemale"}}
    {{$pageHeader := ""}}
    {{$actionText := ""}}
    {{if ne $customer.Uuid ""}}
        {{$pageHeader = getTranslation "page_header_edit_customer"}}
        {{$actionText = getTranslation "button_edit_customer"}}
    {{else}}
        {{$pageHeader = getTranslation "page_header_add_new_customer"}}
        {{$actionText = getTranslation "button_add_new_customer"}}
    {{end}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center mt-4">{{$pageHeader}}</h3>

                <form action="/{{.CurrentLanguage}}/customer{{with $customer.Uuid}}/{{.}}{{end}}"
                      class="needs-validation" method="post" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <input type="hidden" name="updated_at" value="{{$customer.UpdatedAt}}">

                    <div class="form-group mt-3">
                        <label for="first_name">{{getTranslation "first_name"}}:</label>
                        {{with .Form.Errors.Get "first_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" name="first_name" id="first_name" autocomplete="off" value="{{$customer.FirstName}}" required
                        class="form-control{{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" maxlength="{{$maxNameLen}}">
                    </div>

                    <div class="form-group mt-3">
                        <label for="last_name">{{getTranslation "last_name"}}:</label>
                        {{with .Form.Errors.Get "last_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" name="last_name" id="last_name" autocomplete="off" value="{{$customer.LastName}}" required
                        class="form-control{{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" maxlength="{{$maxNameLen}}">
                    </div>

                    <div class="form-group mt-3">
                        <label for="birthdate">{{getTranslation "birthdate"}}:</label>
                        {{with .Form.Errors.Get "birthdate"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" name="birthdate" id="birthdate" autocomplete="off" value="{{$customer.Birthdate}}" required
                        class="form-control{{with .Form.Errors.Get "birthdate"}} is-invalid {{end}}" readonly="readonly">
                    </div>

                    <div class="form-group mt-3">
                        <label for="email">{{getTranslation "email"}}:</label>
                        {{with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="email" name="email" id="email" autocomplete="on" value="{{$customer.Email}}" required
                        class="form-control{{with .Form.Errors.Get "email"}} is-invalid {{end}}">
                    </div>

                    <div class="form-group mt-3">
                        {{with .Form.Errors.Get "gender"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="gender_male"
                                   value="{{$genderMale}}" {{if or (eq $customer.Gender $genderMale) (eq $customer.Gender "")}}checked{{end}}>
                            <label class="form-check-label" for="gender_male">
                                {{$genderMale}}
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="gender_female"
                                   value="{{$genderFemale}}" {{if eq $customer.Gender $genderFemale}}checked{{end}}>
                            <label class="form-check-label" for="gender_female">
                                {{$genderFemale}}
                            </label>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary mt-3" value="{{$actionText}}" id="js_customer_form_btn">
                </form>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        const elem = document.querySelector('input[name="birthdate"]');
        const datepicker = new Datepicker(elem, {
            format: "yyyy-mm-dd",
            minDate: "{{index .Data "minDate"}}",
            maxDate: "{{index .Data "maxDate"}}"
        });


        {{$customer := index .Data "customer"}}
        {{$currentLanguage := .CurrentLanguage}}
        {{with .OverrideWarning}}
            Swal.fire({
                title: `Information about the customer was changed by other administrator.
                        Do you want to reload the customer page or save your changes (in this case previous changes will be lost)`,
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Save anyway',
                denyButtonText: `Reload the page`,
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('js_customer_form_btn').click()
                } else if (result.isDenied) {
                    window.location.href = '/{{$currentLanguage}}/customer/' + {{$customer.Uuid}}
                }
            })
        {{end}}
    </script>
{{end}}