{{template "base" .}}

{{define "css"}}
    <link rel="stylesheet" type="text/css" href="/static/css/customers.css">
    <link rel="stylesheet" type="text/css" href="/static/css/simple-datatable.css">
{{end}}

{{define "content"}}
<div class="container">
{{$currentLanguage := .CurrentLanguage}}
    <div class="row mt-3 align-items-center">
        <div class="col-9">
            <form action="/{{$currentLanguage}}/customers/search" method="post" class="needs-validation" novalidate id="js_search_customer">
                <input type="hidden" name="csrf_token"
                       value="{{.CSRFToken}}">
                <div class="row">
                    <div class="col-6">
                        <div class="input-group">
                            <label class="input-group-text" for="search_expression">
                                {{getTranslation "first_name"}}/{{getTranslation "last_name"}}:
                            </label>
                            <input type="text" name="search_expression" id="search_expression" autocomplete="off" value="{{index .Data "search_expression"}}" required
                                   class="form-control" minlength="2" maxlength="{{index .Data "maxNameLen"}}">
                        </div>
                    </div>

                    <div class="col-4 d-flex">
                        <div class="me-4">
                            <input type="submit" class="btn btn-primary search-btn" value="{{getTranslation "button_search_customer"}}">
                        </div>
                        <a href="/{{$currentLanguage}}/customers" class="btn btn-secondary reset-btn">{{getTranslation "button_reset"}}</a>
                    </div>
                    <div class="col-4 d-flex">
                        <div class="me-4">

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <a href="/{{$currentLanguage}}/customer" class="btn btn-success">{{getTranslation "button_add_new_customer"}}</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h3 class="text-center mt-2">{{getTranslation "page_header_list_of_customer"}}:</h3>
            {{$customers := index .Data "customers"}}
            <table class="table table-striped table-hover mt-4 border-top" id="js_table_customers">
                <thead>
                <tr>
                    <th>ID&nbsp;&nbsp;</th>
                    <th class="max_width">{{getTranslation "first_name"}}</th>
                    <th class="max_width">{{getTranslation "last_name"}}</th>
                    <th>{{getTranslation "birthdate"}}</th>
                    <th>{{getTranslation "email"}}</th>
                    <th>{{getTranslation "gender"}}</th>
                    <th>{{getTranslation "created_at"}}</th>
                    <th>{{getTranslation "updated_at"}}</th>
                    <th>{{getTranslation "actions"}}</th>
                </tr>
                </thead>
                <tbody>
                {{$i := 0}}
                {{range $customers}}
                    {{$i = add $i 1}}
                    <tr>
                        <td id="{{.Uuid}}">{{$i}}</td>
                        <td class="max_width">{{.FirstName}}</td>
                        <td class="max_width">{{.LastName}}</td>
                        <td>{{formatDate .Birthdate}}</td>
                        <td>{{.Email}}</td>
                        <td>{{.Gender}}</td>
                        <td>{{formatDateTime .CreatedAt}}</td>
                        <td>{{formatDateTime .UpdatedAt}}</td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <a href="/{{$currentLanguage}}/customer/{{.Uuid}}/view">
                                        <img src="/static/images/view.png" title="Show" class="action_icon" alt="Show">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="/{{$currentLanguage}}/customer/{{.Uuid}}">
                                        <img src="/static/images/edit.png" title="Edit" class="action_icon" alt="Edit">
                                    </a>
                                </div>
                            </div>

                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
    <script src="/static/js/simple-datatables.js"></script>
    <script>
        const dataTable = new simpleDatatables.DataTable("#js_table_customers", {
            columns: [
                { select: [8], sortable: false },
            ]
        })

        document.getElementById('js_search_customer').onsubmit = function() {
            let searchFor = document.getElementById("search_expression").value
            if (searchFor.length < 2) {
                notify("Please enter at list 2 characters to search", "error")
                return false;
            }
        };

    </script>
{{end}}