{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row mt-4">
            <div class="col text-center">
                <a href="/{{.CurrentLanguage}}/customers" class="btn btn-success">{{getTranslation "button_show_all_customers"}}</a>
            </div>
        </div><div class="row mt-4">
            <div class="col text-center">
                <a href="/{{.CurrentLanguage}}/customer" class="btn btn-success">{{getTranslation "button_add_new_customer"}}</a>
            </div>
        </div>
    </div>
{{end}}