{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row mt-4">
            <div class="col text-center">
                <a href="/customers" class="btn btn-success">Show all customers</a>
            </div>
        </div><div class="row mt-4">
            <div class="col text-center">
                <a href="/customer" class="btn btn-success">Add new customer</a>
            </div>
        </div>
    </div>
{{end}}